span.im-caret {
    -webkit-animation: 1s blink step-end infinite;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

@-webkit-keyframes blink {
    from, to {
        border-right-color: black;
    }
    50% {
        border-right-color: transparent;
    }
}

span.im-static {
    color: grey;
}

div.im-colormask {
    display: inline-block;
    border-style: inset;
    border-width: 2px;
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

div.im-colormask > input {
    position: absolute;
    display: inline-block;
    background-color: transparent;
    color: transparent;
    -webkit-appearance: caret;
    -moz-appearance: caret;
    appearance: caret;
    border-style: none;
    left: 0; /*calculated*/
}

div.im-colormask > input:focus {
    outline: none;
}

div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > input::selection{
    background: none;
}
div.im-colormask > input::-moz-selection{
    background: none;
}

div.im-colormask > div {
    color: black;
    display: inline-block;
    width: 100px; /*calculated*/
}

@-webkit-keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}@keyframes chartjs-render-animation{from{opacity:0.99}to{opacity:1}}.chartjs-render-monitor{-webkit-animation:chartjs-render-animation 0.001s;animation:chartjs-render-animation 0.001s;}[_nghost-c0] {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    display: inline-block;
  }
  .ngb-dp-month[_ngcontent-c0] {
    pointer-events: none;
  }
  .ngb-dp-header[_ngcontent-c0] {
    border-bottom: 0px;
    border-radius: .25rem 0.25rem 0rem 0rem;
    padding-top: 0.25rem;
  }
  ngb-datepicker-month-view[_ngcontent-c0] {
    pointer-events: auto;
  }
  .ngb-dp-month-name[_ngcontent-c0] {
    font-size: larger;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
  }
    .ngb-dp-month + .ngb-dp-month > ngb-datepicker-month-view > .ngb-dp-week {
    padding-left: 1rem;
  }
    .ngb-dp-month + .ngb-dp-month > .ngb-dp-month-name {
    padding-left: 1rem;
  }
    .ngb-dp-month:last-child .ngb-dp-week {
    padding-right: .25rem;
  }
    .ngb-dp-month:first-child .ngb-dp-week {
    padding-left: .25rem;
  }
    .ngb-dp-month > ngb-datepicker-month-view > .ngb-dp-week:last-child {
    padding-bottom: .25rem;
  }
  .ngb-dp-months[_ngcontent-c0] {
    display: flex;
  }
  
  .ngb-tp[_ngcontent-c1] {
    display: flex;
    align-items: center;
  }

  .ngb-tp-hour[_ngcontent-c1], .ngb-tp-minute[_ngcontent-c1], .ngb-tp-second[_ngcontent-c1], .ngb-tp-meridian[_ngcontent-c1] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .ngb-tp-spacer[_ngcontent-c1] {
    width: 1em;
    text-align: center;
  }

  .chevron[_ngcontent-c1]::before {
    border-style: solid;
    border-width: 0.29em 0.29em 0 0;
    content: '';
    display: inline-block;
    height: 0.69em;
    left: 0.05em;
    position: relative;
    top: 0.15em;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    vertical-align: middle;
    width: 0.71em;
  }

  .chevron.bottom[_ngcontent-c1]:before {
    top: -.3em;
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
  }

  input[_ngcontent-c1] {
    text-align: center;
    display: inline-block;
    width: auto;
  }[_nghost-c3] {
    height: 2rem;
    line-height: 1.85rem;
    display: flex;
  }
  .ngb-dp-navigation-chevron[_ngcontent-c3]::before {
    border-style: solid;
    border-width: 0.2em 0.2em 0 0;
    content: '';
    display: inline-block;
    width: 0.75em;
    height: 0.75em;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
  }
  .right[_ngcontent-c3]   .ngb-dp-navigation-chevron[_ngcontent-c3]:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .ngb-dp-arrow[_ngcontent-c3] {
    display: flex;
    flex-basis: auto;
    flex-grow: 1;
    padding-right: 0px;
    padding-left: 0px;
    margin: 0px;
    width: 2rem;
    height: 2rem;
  }
  .ngb-dp-arrow.right[_ngcontent-c3] {
    justify-content: flex-end;
  }
  .ngb-dp-arrow-btn[_ngcontent-c3] {
    padding: 0rem 1rem;
  }
  .ngb-dp-month-name[_ngcontent-c3] {
    font-size: larger;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
  }
  .ngb-dp-navigation-select[_ngcontent-c3] {
    flex-grow: 1;
    flex-basis: 9rem;
  }.ngb-dp-weekday[_ngcontent-c4], .ngb-dp-week-number[_ngcontent-c4] {
    line-height: 2rem;
  }
  .ngb-dp-weekday[_ngcontent-c4] {
    color: #5bc0de;
  }
  .ngb-dp-week[_ngcontent-c4] {
      border-radius: 0.25rem;
      display: flex;
  }
  .ngb-dp-weekdays[_ngcontent-c4] {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0rem;
  }
  .ngb-dp-day[_ngcontent-c4], .ngb-dp-weekday[_ngcontent-c4], .ngb-dp-week-number[_ngcontent-c4] {
    width: 2rem;
    height: 2rem;
  }
  .ngb-dp-day[_ngcontent-c4] {
    cursor: pointer;
  }
  .ngb-dp-day.disabled[_ngcontent-c4], .ngb-dp-day.hidden[_ngcontent-c4] {
    cursor: default;
  }select[_ngcontent-c5] {
    
    padding: 0.25rem 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25;
    
    height: inherit;
    width: 50%;
    display: inline-block;
  }[_nghost-c2] {
    text-align: center;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    border-radius: 0.25rem;
    background: transparent;
  }
  .outside[_nghost-c2] {
    opacity: 0.5;
  }